* {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
}

#wrapper {
	width: 500px;
	margin: 0 auto;
	background:#C0C0C0;
}

table {
	
}

thead {
}

th {
	text-align: left;
}

table {
	width: 90%;
	margin: 0 auto;
}

td {
	border-bottom: 1px solid white;
}

td:first-of-type {
	width: 60%;
}

td:last-of-type{
	width: 10%;
}